*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}
.container{
    padding-top: 30px;
    width: 1300px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}
.navbar ul{
    display: flex;
    align-items: center;
    padding: 26px;
    justify-content: space-between;
    align-items: center;
    padding-left: 35px;
}
.navbar ul li{
    list-style: none;
}
.navbar ul li a{
    text-decoration: none;
    font-size: 25px;
    color: #fff;
    position: relative;
    transition: transform 0.5s;
}
.navbar ul li a:hover{
    transform: scale(1.1);
}
.logo{
    width: 150px;
    position: relative;
}
.cart{
    width: 30px;
    position: relative;
    filter: invert(100%);
}
.header{
    position: relative;
}
.header{
    background: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)),url(photos/cake3.jpg);
    height: 100vh;
    width: 100%;
    background-position: center;
    background-size: cover;
    padding-left:10%;
    padding-right: 10%;
    box-sizing: border-box;
}
.container p{
    position: relative;
    margin-top: 130px;
    color:#fff;
    font-size: 25px;
    padding: 10px 103px;
}
.order-btn{
    position: relative;
    background-color: rgb(226, 99, 49);
    text-decoration: none;
    color: #fff;
    padding:10px 20px;
    margin: auto;
    display: block;
    width: 161px;
    font-size: 25px;
    box-sizing: border-box;
    border-radius: 20px;
    margin-top: 80px;
    transition: transform 0.5s;
}
.order-btn:hover{
    background-color: rgb(252, 93, 30);
    transform: scale(1.1);
}
/* about section  */
.row{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}
.col-2{
    flex-basis: 50%;
    min-width: 300px;
}
/* about section  */
.about h2{
    text-align: center;
    margin-bottom: 20px;
    margin-top: 20px;
    font-size: 40px;
}
.col-2 img{
    border-radius: 50px;
}
.col-2 p{
    margin-top: 50px;
    font-size: 25px;
    color:black;
}
/* all product section  */
.all-product h2{
    text-align: center;
    margin-bottom: 30px;
    margin-top: 20px;
    font-size: 40px;
}
.col-4{
    flex-basis: 25%;
    min-width: 200px;
}
.col-4 img{
    width: 200px;
    height: 250px;
    margin-top: 20px;
    transition: transform 0.5s;
}
.col-4 img:hover{
    transform: translateY(-10px);
}
/* testimonial section  */
.testimonial{
    padding-top: 30px;
    background-color:#e4dada38;
    margin-top: 30px;
    padding-bottom: 30px;
}
.testimonial .col-3{
    text-align: center;
    /* padding: 40px 20px; */
    background-color: white;
    margin-left: 10px;
    margin-right: 10px;
}
.testimonial .col-3 p{
    color: black;
    font-size: 20px;
    margin-top: 10px;
    padding: 13px 32px;
}
.small-container{
    padding-top: 30px;
    width: 1080px;
    margin: auto;
    padding-left: 15px;
    padding-right: 15px;
}
.col-3{
    flex-basis: 30%;
    min-width: 250px;
}
.testimonial .col-3 img{
    border-radius: 50%;
    width: 60px;
    margin-top: 20px;
    padding-bottom: 10px;
}
/* contact section  */
.contact{
    background-color: rgb(224 113 69 / 26%);
    padding-top: 25px;
    padding-bottom: 25px;
}
.contact input{
    width: 90%;
    max-width: 200px;
    height: 25px;
    border-radius: 25px;
    border: none;
    padding: 0 20px;
    outline: none;
    margin: 20px 0;
    font-size: 15px;
}
.contact textarea{
    border-radius: 25px;
    outline: none;
    border: none;
}
/* copyright section  */
.copyright{
    background-color: rgb(14, 14, 59);
    color: white;
}
.copyright p{
    /* margin: auto; */
    font-size: 25px;
    text-align: center;
    padding-bottom: 10px;
}